.home {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar {
  background-color: #002741;
  width: 82px;
  height: 1369px;
}
#DataInformation {
  width: calc(100% - 82px);
  height: 1369px;
  background-color: #ebecec;
}

.menuIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#menu {
  font-size: 30px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.menu-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 25px;
}
#apps,
#clock,
#groups,
#image,
#question,
#settings,
#logout,
#person {
  padding: 3px;
  height: 30px;
  cursor: pointer;
  width: 30px;
  transition: background-color 0.3s ease-in-out;
}
#logout {
  color: #ffffff;
  margin-top: 825px;
}

#apps:active,
#clock:active,
#groups:active,
#image:active,
#question:active,
#settings:active,
#person:active {
  background-color: #666768ea;
}
