.section-one-container {
  color: black;
  display: grid;
  height: 300px;
  grid-template-columns: 305px auto 310px;
  column-gap: 8px;
  row-gap: 8px;
}

.item {
  border-radius: 15px;
  background: #ffffff;
}

 
