.section-three {
  display: grid;
  grid-template-columns: 310px 394px 394px 310px;
  column-gap: 5px;
  row-gap: 5px;
  padding-top: 10px;
  .total {
    border-radius: 15px;
    height: 206px;

    background-color: #fff;
  }
}
