.section-four {
  display: grid;
  grid-template-columns: 310px auto auto 310px;

  column-gap: 5px;
  row-gap: 5px;
  padding-top: 10px;
}
.most {
  border-radius: 15px;
  height: 200x;

  background-color: #ffffff;
}
