.section-two {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  padding-top: 10px;
  grid-template-columns: 310px 790px 312px;
}
.comp {
  height: 380px;
  border-radius: 15px;
}

.working,
.twoComponents {
  background-color: #ffffff;
}
