.section-one-container {
  color: black;
  display: grid;
  height: 302px;
  grid-template-columns: 310px 790px 312px;
  column-gap: 5px;
  row-gap: 5px;
}

.item {
  padding: 10px;
  border-radius: 15px;
  background: #ffffff;
}
