

.header {
  height: 44px;
  top: 8px;
  left: 91.94px;
  margin: 5px 8px;
  background-color: #ff002b;
}
.sub-header {
  height: 40px;
  top: 76px;
  margin: 12px 8px;
  left: 90px;
  border-radius: 10px;
  background-color: #ffffff;
}

.line-seperator {
  height: 0.7px;
  background-color: rgb(158, 157, 157);
  width: 100%;
}
