.header {
  height: 44px;
  top: 8px;
  left: 91.94px;
  margin: 5px 8px;
  color: #000000;
}
.sub-header {
  background-color: #fcfcfc;

  height: 40px;
  top: 76px;
  margin: 12px 8px;
  left: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.line-seperator {
  height: 0.7px;
  background-color: rgb(224, 224, 224);
  width: 100%;
}

#calendar-setup {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#date-info {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.18px;
  vertical-align: middle;
  font-variant-numeric-figure: lining-nums;
  font-variant-numeric-spacing: proportional-nums;
}

.calendar-icon {
  width: 14px;
  color: #f88040;
  height: 14px;
  top: 0.5px;
  top: 0.5px;
}

.left-nav {
  color: "#293050";
  width: 10px;
  height: 6.062px;
  top: 5px;
  left: 13px;
  transform: rotate(-90deg);
}

.right-nav {
  transform: rotate(-90deg);
  width: 10px;
  height: 6.062px;
  top: 5px;
  left: 13px;

  color: "#293050";
}

.text-dash {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  leading-trim: Cap height;
  line-height: 15px;
  letter-spacing: 0px;
}

#avatar-profile {
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #f3723e;
}

#profile-role-name {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: "#222222";
}
.notification-icon {
  height: 20px;
  width: 20px;
  color: #000000;
  cursor: pointer;
}

#search-bar-input {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #f6f6f6;
  border: 2px solid #e5e5e5;
}

#search-bar-input:focus {
  outline: none;
  border: 2px solid #e5e5e5;
}

#search-bar-input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #bdbdbd;
}
