.productivity-bar-container {
  background-color: #4df966;
  color: #000000;
  margin: 20px;
  padding: 5px;

}

.productivity-bar-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
  background-color: red;
}
